:not(:defined)::after{
	content:"Loading ...";
	direction:ltr;
	display:flex;
	place-content:center;
	align-items:center;
	height:100%;
	background:linear-gradient(to right,#0001 10%,#0002 50%,#0001 80%);
	background-size:50% 100%;
	animation:placeholder 1s linear 0s infinite normal forwards;
}
@keyframes placeholder{
	from{background-position:-100% 0}
	to{background-position:100% 0}
}
noscript,
.notsupported{
	position:fixed;
	display:none;
	z-index:100000;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#3490dc;
	color:#fff;
	text-align:center;
	vertical-align:middle;
	padding-top:5%;
	font-family:system-ui,Tahoma;
	direction:ltr;
	/*IE:5,6,7 hack*/
	*display:block;
	_display:block;
}
.notsupported a{
	color:#fff !important;
	text-decoration:underline;
}
.notsupported p{text-align:center}
html[lang=fa] .notsupported > p[dir=ltr]{display:none}
noscript{
	z-index:99999;
	display:block;
}
/*IE:8,9,10,11 hack*/
@media all\0{.notsupported{display:table-cell}}
/*Chrome:76,Firefox:69,Edge:79,Safari:13.1 hack*/
@supports not ((white-space:break-spaces) or (:autofill)){.notsupported{display:table-cell}}
/*Optional*/
html,body{
	margin:0;
	padding:0;
	width:100%;
}
html,html:fullscreen{height:100%}
html{
	scrollbar-color:#555 transparent;
	scrollbar-width:thin;
}
body{
	min-height:100vh;
	height:auto;
	overflow:hidden auto;
	/*overscroll-behavior-y:contain;*/
	scroll-margin:0;
	scroll-padding:0;
	scroll-snap-type:y mandatory;
	scroll-behavior:smooth;
	scroll-snap-align:center;
	background-color:#fff;
	font:normal 13px/1.5 Samim,system-ui;
	color:#555;
	font-smoothing:antialiased;
	/*contain-intrinsic-size:1000px;*/
}
body > div#_loaded{
	position:fixed;
	visibility:visible;
	z-index:99999;
	display:block;
	background-color:#fff;
	left:0;
	top:0;
	margin:0;
	padding:0;
	width:100%;
	height:100vh;
	opacity:1;
	transition:opacity .2s,height .3s,visibility .4s;
}
body.loaded > div#_loaded{
	opacity:0;
	height:0;
	overflow:hidden;
	visibility:hidden;
}